In [1]:
class test:
    pass

In [2]:
a = test()

In [3]:
a

In [5]:
#creating variables for class 
a.name = "abc"
a.ph_no = 12465
a.city = "BLR"

In [6]:
b = test()

In [9]:
b.name = "xyz"
b.ph_no = 45656
b.city = "BLR"

In [10]:
b

In [11]:
b.name

'xyz'

In [12]:
b.ph_no

45656

In [13]:
b.city

'BLR'

In [14]:
a.name

'abc'

In [15]:
a.city

'BLR'

In [16]:
a.l = [12,45,78,465,65456]

In [17]:
a.l

[12, 45, 78, 465, 65456]

In [18]:
class test1:
    #frist variable act as reference(pointer)--self
    def __init__(self, name, ph_no, city):
        self.name = name
        self.ph_no = ph_no
        self.city = city

In [19]:
c = test1("abc",12354654, "BLR")

In [20]:
c

In [21]:
 c.name

'abc'

In [22]:
c.ph_no

12354654

In [23]:
c.city

'BLR'

In [25]:
#If you're providing values in non-sequence order you need to mention with variable name
d = test1(city = "BLR1",name = "abdhd",ph_no = 15 )

In [26]:
d.ph_no

15

In [27]:
d.city

'BLR1'

In [28]:
d.name

'abdhd'

In [29]:
class car:
    def __init__(self, year, make, model, engine_type, tyre_type):
        self.year = year
        self.make = make
        self.model = model
        self.engine_type = engine_type
        self.tyre_type = tyre_type

In [30]:
audi = car(2021, "123","101", "abc", "ijk")

In [31]:
audi.year

2021

In [32]:
audi.make

'123'

In [33]:
audi.model

'101'

In [34]:
audi.engine_type

'abc'

In [35]:
fortuner = car(2020, "kdshf", "kabded","ksd1421", "dkshgf10")

In [36]:
fortuner.year

2020

In [37]:
 class car:
    def __init__(self, year, make, model, engine_type, tyre_type):
        self.year = year
        self.make = make
        self.model = model
        self.engine_type = engine_type
        self.tyre_type = tyre_type
        
    def engine_type(self):
        return self.engine_type

In [38]:
audi = car(2021, "123","101", "abc", "ijk")

In [39]:
audi.engine_type()
#we've both variable name and function name is same

TypeError: 'str' object is not callable

In [51]:
 class car:
    def __init__(self, year, make, model, engine_type, tyre_type):
        self.year = year
        self.make = make
        self.model = model
        self.engine_type = engine_type
        self.tyre_type = tyre_type
        
    def engine_type_fun(self):
        return self.engine_type
    
    #If you need a valuable information on call of a object
    def __str__(self):
        
        #this always takes return as strings
        return "This is car class and this is an object for audi "

In [52]:
audi = car(2021, "123","101", "abc", "ijk")

In [53]:
audi

In [54]:
print(audi)

This is car class and this is an object for audi

In [55]:
audi.engine_type_fun()

'abc'

In [106]:
class data_Manipulation:
    
    def __init__(self, read_csv_path, read_excel_path,  db_path, db_name, collection_name):
        
        self.read_csv_path = read_csv_path
        self.read_excel_path = read_excel_path
        self.db_path = db_path
        self.db_name = db_name
        self.collection_name = collection_name
        
    def read_csv_fun(self):
        import pandas as pd
        df = pd.read_csv(self.read_csv_path)
        
        return df
    
    def read_excel_fun(self):
        r = requests.get(self.read_excel_path)
        open('temp.xls', 'wb').write(r.content)
        excel_df = pd.read_excel('temp.xls')
        return excel_df
#         import pandas as pd
#         xlsx = pd.ExcelFile(self.read_excel_path)
#         excel_df = pd.read_excel(xlsx, 'Sheet1')
#         return excel_df
    
    def read_db_fun(self):
        import pymongo
        try:
            
            client = pymongo.MongoClient(self.db_path)
            db = client.test
        except Exception as e:
            print(e)
       
        #db_name
        student_db = client[self.db_name]

        # collection 
        student_details_collection = student_db[self.collection_name]

        for std in student_details_collection.find():
            print(std)

In [107]:
read_csv_path = "https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv"
read_excel_path= "https://fred.stlouisfed.org/graph/fredgraph.xls?id=CHXRSA"
db_path = "mongodb+srv://rootubuntu050:Root12345@cluster0.rdjfj.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
db_name = "student"
collection_name = "student_details"

In [108]:
a = data_Manipulation(read_csv_path, read_excel_path,  db_path, db_name, collection_name)

In [109]:
a.read_db_fun()

{'_id': ObjectId('61c811075c6ff02d48bac36d'), 'name': 'abc', 'college': 'xyzcollege', 'address': 'Bangalore'}
{'_id': ObjectId('61c8342b5c6ff02d48bac36e'), 'first name': 'virat', 'last name': 'kohli', 'desiganation': 'Batsman'}
{'_id': ObjectId('61c8342b5c6ff02d48bac36f'), 'first name': 'Rohit', 'last name': 'sharma', 'desiganation': 'Batsman'}
{'_id': ObjectId('61c8342b5c6ff02d48bac370'), 'first name': 'Jasprit', 'last name': ' Bumrah', 'desiganation': 'Bowler'}
{'_id': ObjectId('61c8342b5c6ff02d48bac371'), 'city': 'Bengaluru', 'desiganation': 'Software Engineer', 'Technology': 'AI', 'core': 'Deep Learning'}

In [110]:
a.read_csv_fun()

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [111]:
a.read_excel_fun()

NameError: name 'requests' is not defined

In [8]:
class test2:
    def __init__(self, a, b, c):
        self._a = a
        self.__b = b
        self.c =c

In [9]:
d = test2(1,2,3)

In [10]:
d._a

1

In [11]:
d.__b

AttributeError: 'test2' object has no attribute '__b'

a = "something" --> public

_b = "something" --> protected

__c = "something" --> private</br>

In [12]:
#you need to call with <object>.<_className><__variableName>

d._test2__b

2

## Inheritance

Inheritance is an important aspect of the object-oriented paradigm. Inheritance provides code reusability to the program because we can use an existing class to create a new class instead of creating it from scratch.

In inheritance, the child class acquires the properties and can access all the data members and functions defined in the parent class. A child class can also provide its specific implementation to the functions of the parent class. In this section of the tutorial, we will discuss inheritance in detail.

In python, a derived class can inherit base class by just mentioning the base in the bracket after the derived class name. Consider the following syntax to inherit a base class into the derived class.

    class derived-class(base class):  
        <class-suite>  
        
    class derive-class(<base class 1>, <base class 2>, ..... <base class n>):  
        <class - suite>

In [37]:
class test3:
    def __init__ (self, a, b, c, d):
        self.a = a
        self.b = b
        self.c = c
        self.d = d
    
    def test_fun(self):
        return self.a
    def printValues(self):
        print("This is printValues function\n",self.a,"\n",self.b,"\n",self.c,"\n",self.d)

In [38]:
class test4(test3):
    pass

In [39]:
t = test3(1,2,3,4)
t.test_fun()
t.printValues()

This is printValues function
 1
 2
 3
 4

In [41]:
t1 = test4(5,6,7,8)
t1.test_fun()
t1.printValues()

This is printValues function
 5
 6
 7
 8

In [42]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)

In [43]:
#Use the Person class to create an object, and then execute the printname method:
x = Person("John", "Doe")
x.printname()

John Doe

In [44]:
class Student(Person):
    pass

In [45]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [1]:
class test5:
    def __init__ (self, a, b, c, d):
        self.a = a
        self.b = b
        self.c = c
        self.d = d
    
    def test_fun(self):
        return self.a
    
    def printValues(self):
        print("This is printValues function\n",self.a,"\n",self.b,"\n",self.c,"\n",self.d)
    
    def function10(self):
        return "This is function10"

In [2]:
class test6(test5):
    pass
    
#     def __init__(self, a, b, c, d):
#         test5.__init__(self, a, b, c, d)

In [3]:
a = test6(100,200,300,400)

In [4]:
a.printValues()

This is printValues function
 100
 200
 300
 400

In [5]:
a.function10()

'This is function10'

In [6]:
a.test_fun()

100

In [7]:
class test7(test5):
    def __init__(self, a, b, c, d, p, q):
        self.p = p
        self.q = q

In [9]:
x = test7(1,2,3,4)

TypeError: __init__() missing 2 required positional arguments: 'p' and 'q'

In [10]:
x = test7(1,2)

TypeError: __init__() missing 4 required positional arguments: 'c', 'd', 'p', and 'q'

In [11]:
x = test7(1,2,3,4,5,6)

In [12]:
x.p

5

In [13]:
x.q

6

In [14]:
x.a

AttributeError: 'test7' object has no attribute 'a'

In [21]:
class test8(test5):
    def __init__(self, a, b, c, d, p, q):
        
        #calling parent class's constructor 
        test5.__init__(self, a, b, c, d)
        self.p = p
        self.q = q

In [22]:
z = test8(100,200,300,400,500,600)

In [23]:
z.a

100

In [24]:
z.c

300

In [25]:
z.p

500

In [26]:
z.q

600